
body {
	background-color: rgb(128, 128, 128);
}

.bg-image{
  background-size: cover;

}

#containerInscription {
	height: 60vh;
	border-radius: 2%;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:valid {
  border: 1px solid black;
}